<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
    <style>
      body {
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        padding: 0;
      }
      body img {
        width: 100%;
      }
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= title %></p>
    <img src="images/hifumi_home.jpeg" alt="我老婆">
  </body>
</html>
