<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to see <%= title %></p>
    <img src="images/hifumi_home.jpeg" alt="我老婆">
  </body>
</html>
